body{
  font-family: monospace, abhaya-libre;
}

figure.right-aligned > img {
  float: right;
  width: 50%;
  height: 50%;
  margin: 0 0 2rem 2rem;
}

figure.centered {
    text-align: center;
}

code {
    font-size: 10
}

table {
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
}

img[alt=icons]{ 
 width: 15px; 
}

img[src$='#center']{
 display: block;
 margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                         whatever floats your boat, but keep the
                         horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}
