figure.right-aligned > img {
  float: right;
  width: 50%;
  height: 50%;
  margin: 0 0 2rem 2rem;
}

figure.centered {
    text-align: center;
}

<div style="text-align: center;">
{{.Inner}}
</div>

th,
td {
  padding: 1.6rem;
}

table {
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid $alt-fg-color;
}

table tr:first-child th {
  border-top: 1;
}

table tr:last-child td {
  border-bottom: 1;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 1;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 1;
}
